@import "../vars";

body {
  padding-top: $padding-top;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
  font-weight: 300;
}

.starter-template h1 {
  color: $brand-primary;

  &:hover {
    color: $brand-info;
  }
}
